<%= javascript_include_tag('') %>

<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name,
    label: false,
    input_html: {
      class: 'ncf-name',
      placeholder: 'COCKTAIL NAME' } %>
  <%= f.input :thumbnail_url,
    label: false,
    input_html: {
      class: 'ncf-thumbnail',
      placeholder: 'COCKTAIL THUMBNAIL URL' } %>
  <%= f.input :alcoholic,
    label: false,
    collection: [['Alcoholic', '1'], ['Non-Alcoholic', '2']],
    input_html: {
      class: 'ncf-alcoholic' } %>
  <%= f.input :glass,
    label: false,
    input_html: {
      class: 'ncf-glass',
      placeholder: 'COCKTAIL GLASS TYPE' } %>
  <%= f.input :instructions,
    as: :text,
    label: false,
    input_html: {
      class: 'ncf-instructions',
      placeholder: 'COCKTAIL INSTRUCTIONS...' } %>

  <br>
  <div class="new-cocktail-warning">
    <p>DON'T WORRY. YOU CAN ADD INGREDIENTS LATER!</p>
  </div>
  <br>

  <%= f.button :submit,
    input_html: { class: 'ncf-submit' } %>
<% end %>

