<section class="hero" id="new-cocktail">
  <div class="new-cocktail-container container">

    <%= link_to '<< BACK TO HOME PAGE', root_path,
      class: "nav-item" %>
    
    <br>
    
    <%= link_to '<< BACK TO ALL COCKTAILS', cocktails_path,
      class: "nav-item" %>
    
    <br>

    <%= link_to '<< BACK TO ' + @cocktail.name + ' PAGE', cocktail_path(@cocktail),
      class: "nav-item" %>

    <br><br>

    <div class="destroy-cocktail">
      <%= link_to 'DELETE COCKTAIL',
        @cocktail,
        method: :delete,
        data: { confirm: "ARE YOU SURE?" },
        class: 'btn btn-main btn-lg',
        id: 'destroy-cocktail-btn' %>
    </div>

    <br><br><br>

    <div class="update-cocktail-form container">
      <%= render 'form-update', cocktail: @cocktail %>
    </div>

  </div>
</section>
