<section class="cocktails-grid">
  <div class="nav-header">
    <%= render partial: 'shared/navbar', layout: 'layouts/banner' %>
  </div>

  <div class="create-cocktail">
    <%= link_to 'CREATE NEW COCKTAIL', new_cocktail_path %>
  </div>

  <br>
  <div class="featured-cocktail">
    <%= render 'featured', featured: @cocktails.sample %>
  </div>
  <br>

  <div class="cocktails-search-filter">

  </div>

  <div class="cocktails-container container">

    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail.id) do %>
      <div class="cocktail-card">
        <div class="cocktail-img">
          <%= image_tag cocktail.thumbnail_url, alt:"#{cocktail.name} image thumbnail" %>
        </div>

        <div class="cocktail-info">
          <p><%= cocktail.name %></p>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>

  <div class="nav-footer">
    <%= render partial: 'shared/footer', layout: 'layouts/banner' %>
  </div>
</section>
