<section class="cocktail-grid">
  <div class="nav-header">
    <%= render partial: 'shared/navbar', layout: 'layouts/banner' %>
  </div>

  <div class="edit-cocktail">
    <%= link_to 'EDIT COCKTAIL', '#',
      class: 'btn btn-main btn-lg',
      id: 'edit-cocktail-btn' %>
  </div>

  <div class="cocktail-container">
    <div class="cocktail-img">
      <% if @cocktail.thumbnail_url.nil? %>
        <%= image_tag 'https://images.pexels.com/photos/605408/pexels-photo-605408.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940',
          alt:'placeholder thumbnail' %>
      <% else %>
        <%= image_tag @cocktail.thumbnail_url,
          alt:"#{@cocktail.name} cocktail thumbnail" %>
      <% end %>
    </div>

    <div class="cocktail-name">
      <h3 class="font-display"><%= @cocktail.name %></h3>
    </div>

    <div class="cocktail-alcoholic">
      <p class="font-body"><%= @cocktail.alcoholic %></p>
    </div>

    <div class="cocktail-glass">
      <p class="font-body"><%= @cocktail.glass %></p>
    </div>

    <div class="cocktail-instructions">
      <p class="font-body"><%= @cocktail.instructions %></p>
    </div>

    <div class="cocktail-ingredients">
      <ul class="list-group list-group-flush">
        <% @cocktail.doses.each do |dose| %>
        <li class="list-group-item d-flex justify-content-between ingredient-item">
          <div class="info">
            <%= dose.description %>
            <span><strong><%= Ingredient.find(dose.ingredient_id).name %></strong></span>
          </div>
          <div class="delete-icon hidden">
            <%= link_to icon('fas', 'minus-circle',
                class: 'cocktail-ingredient-rm fa-lg text-danger',
                style: 'font-size:20px;opacity:0.5;',
                id: 'removeButton'),
              cocktail_dose_path(
                cocktail_id: @cocktail.id,
                id: dose.id ),
              method: :delete,
              data: { confirm: 'ARE YOU SURE?'} %>
          </div>
        </li>
        <% end %>
        <li class="list-group-item d-flex justify-content-center ingredient-item hidden" id="new-ingredient-item">
          <%= link_to icon('fas', 'plus',
            class: 'fa-lg text-success',
            style: 'font-size:20px;opacity:0.5;',
            id: 'addButton') + ' ADD ANOTHER INGREDIENT',
            '#',
            id: 'new-dose-modal-btn' %>
        </li>
      </ul>
    </div>
  </div>

  <br>

  <div class="nav-footer">
    <%= render partial: 'shared/footer', layout: 'layouts/banner' %>
  </div>
</section>

<div class="modal" id="new-dose-modal">
  <div class="modal-content">
    <span class="close-btn">&times;</span>
    <%= render 'doses/form',
        cocktail: @cocktail, dose: @dose %>
  </div>
</div>

<div class="modal" id="edit-cocktail-modal">
  <div class="modal-content">
    <span class="close-btn">&times;</span>
    <%= render 'form',
        cocktail: @cocktail %>
  </div>
</div>
