<% drink_placeholder = 'https://images.pexels.com/photos/109275/pexels-photo-109275.jpeg?auto=compress&cs=tinysrgb&h=650&w=940' %>

<div class="cocktail-container container">
  <div class="card m-3 mx-auto w-75" style="width: 18rem;">
    <%= image_tag drink_placeholder, alt:'placeholder', width: '100%' %>


    <div class="card-body">
      <h5 class="card-title"><%= @cocktail.name %></h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Urna et pharetra pharetra massa massa ultricies mi quis hendrerit.</p>
    </div>
    <ul class="list-group list-group-flush">

      <% @cocktail.ingredients.each do |ingredient| %>
      <li class="list-group-item d-flex justify-content-between">
        <div class="info">
          <%= ingredient.doses[0].description %>
          <span><strong><%= ingredient.name %></strong></span>
        </div>
        <div class="delete-icon">
          <%= link_to icon('fas', 'minus-circle',
              class: 'fa-lg text-danger',
              style: 'font-size:20px;opacity:0.5;',
              id: 'removeButton'),
            cocktail_dose_path(
              cocktail_id: @cocktail.id,
              id: ingredient.doses[0].id ),
            method: :delete %>
        </div>
      </li>
      <% end %>

    </ul>
    <div class="card-body text-center">
      <%= link_to 'ADD NEW INGREDIENT', new_cocktail_dose_path(@cocktail.id) %>
    </div>
  </div>
</div>

<!--  -->
