<div class="cocktail-container container">
  <div class="card m-3 mx-auto w-75" style="width: 18rem;">
    <% if @cocktail.thumbnail_url.nil? %>
      <%= image_tag 'https://images.pexels.com/photos/605408/pexels-photo-605408.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940', alt:'placeholder', width: '100%' %>
    <% else %>
      <%= image_tag @cocktail.thumbnail_url, alt:'placeholder', width: '100%' %>
    <% end %>


    <div class="card-body">
      <h5 class="card-title"><%= @cocktail.name %></h5>
      <p><em><%= @cocktail.alcoholic %> <%= @cocktail.category %></em></p>
      <p></p>
      <p>GLASS: <%= @cocktail.glass %></p>
      <p class="card-text"><%= @cocktail.instructions %></p>
    </div>
    <ul class="list-group list-group-flush">

      <% @cocktail.doses.each do |dose| %>
      <li class="list-group-item d-flex justify-content-between">
        <div class="info">
          <%= dose.description %>
          <span><strong><%= Ingredient.find(dose.ingredient_id).name %></strong></span>
        </div>
        <div class="delete-icon">
          <%= link_to icon('fas', 'minus-circle',
              class: 'fa-lg text-danger',
              style: 'font-size:20px;opacity:0.5;',
              id: 'removeButton'),
            cocktail_dose_path(
              cocktail_id: @cocktail.id,
              id: dose.id ),
            method: :delete %>
        </div>
      </li>
      <% end %>

    </ul>
    <div class="card-body text-center">

      <%= link_to 'ADD NEW INGREDIENT', new_cocktail_dose_path(@cocktail.id) %>
    </div>
  </div>
</div>
<!--  -->
