<section class="cocktail-grid">
  <div class="nav-header">
    <%= render 'shared/navbar' %>
  </div>

  <div class="cocktail-container container">
    <div class="cocktail-img">
      <% if @cocktail.thumbnail_url.nil? %>
        <%= image_tag 'https://images.pexels.com/photos/605408/pexels-photo-605408.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940',
          alt:'placeholder thumbnail' %>
      <% else %>
        <%= image_tag @cocktail.thumbnail_url,
          alt:"#{@cocktail.name} cocktail thumbnail" %>
      <% end %>
    </div>

    <div class="cocktail-name">
      <h3 class="font-display"><%= @cocktail.name %></h3>
    </div>

    <div class="cocktail-alcoholic">
      <p class="font-body"><%= @cocktail.alcoholic %></p>
    </div>

    <div class="cocktail-glass">
      <p class="font-body"><%= @cocktail.glass %></p>
    </div>

    <div class="cocktail-instructions">
      <p class="font-body"><%= @cocktail.instructions %></p>
    </div>

    <div class="cocktail-ingredients">
      <ul class="list-group list-group-flush">
        <% @cocktail.doses.each do |dose| %>
        <li class="list-group-item d-flex justify-content-between">
          <div class="info">
            <%= dose.description %>
            <span><strong><%= Ingredient.find(dose.ingredient_id).name %></strong></span>
          </div>
          <div class="delete-icon">
            <%= link_to icon('fas', 'minus-circle',
                class: 'cocktail-ingredient-rm fa-lg text-danger',
                style: 'font-size:20px;opacity:0.5;',
                id: 'removeButton'),
              cocktail_dose_path(
                cocktail_id: @cocktail.id,
                id: dose.id ),
              method: :delete %>
          </div>
        </li>
        <% end %>
        <li class="list-group-item d-flex justify-content-center">
          <%= link_to icon('fas', 'plus',
            class: 'fa-lg text-success',
            style: 'font-size:20px;opacity:0.5;',
            id: 'addButton') + ' ADD ANOTHER INGREDIENT',
            new_cocktail_dose_path(@cocktail.id) %>
        </li>
      </ul>
    </div>
  </div>

  <div class="nav-footer">
    <%= render 'shared/footer' %>
  </div>
</section>
