<div class="navigation footer">
  <ul class="list-inline m-0 p-0">
    <li>
      <%= link_to icon('fab', 'github',
      class: 'fa-lg footer-social',
          id: 'github-social'), root_path %>
    </li>
    <li>
      <%= link_to icon('fab', 'instagram',
          class: 'fa-lg footer-social',
          id: 'insta-social'), root_path %>
    </li>
    <li>
      <%= link_to icon('fab', 'facebook',
          class: 'fa-lg footer-social',
          id: 'fb-social'), root_path %>
    </li>
    <li>
      <%= link_to icon('fab', 'twitter',
          class: 'fa-lg footer-social',
          id: 'twitter-social'), root_path %>
    </li>
    <li>
     <%= link_to icon('fab', 'linkedin',
          class: 'fa-lg footer-social',
          id: 'li-social'), root_path %>
    </li>
  </ul>
</div>
