<%= javascript_include_tag('') %>

<div class="dose-ingredient-form form">
  <%= simple_form_for [ cocktail, dose ] do |f| %>

    <div class="form-row">
      <div class="dif-dose">
        <%= f.input :description,
            label: 'DOSE',
            placeholder: '1.0 CUPS...',
            value: '',
            class: 'dif-dose-description',
            id: '' %>
      </div>

      <div class="dif-ingredient">
        <%= f.association :ingredient,
            label: 'INGREDIENT',
            collection: Ingredient.order('name'),
            class: 'dif-ingredient-description',
            id: '' %>
      </div>
      <%#= link_to icon('fas', 'minus-circle',
              class: 'fa-lg text-danger',
              style: 'font-size:20px;opacity:0.5;',
              id: 'removeButton'),
          '#',
          class: '',
          id: 'nif-rm-btn' %>
      </div>
      <div class="form-row">
        <%#= link_to icon('fas', 'plus',
            class: 'fa-lg text-success nif-addBtn',
            style: 'font-size:20px;opacity:0.5;',
            id: 'addButton') + ' ADD ANOTHER INGREDIENT',
            '#',
            class: '',
            id: '' %>
      </div>

      <br>
      <%= f.button :submit,
            "ADD INGREDIENT",
            class: 'form-btn',
            id: 'nif-submit' %>

  <% end %>
</div>
