<%= simple_form_for [@cocktail, @dose] do |f| %>
<div class="outer-container" id="new-dose-container">
  <div class="d-flex" >
    <div class="input-dose">
      <%= f.input :description,
        input_html: { value: '' },
        label: 'Dose' %>
    </div>
    <div class="input-ingredient flex-grow-1 mx-2">
      <%= f.association :ingredient,
        collection: Ingredient.order('name'),
        label: 'Ingredient' %>
    </div>
    <div class="remove align-self-end pb-4">
      <%= link_to icon('fas', 'minus-circle',
        class: 'fa-lg text-danger',
        style: 'font-size:20px;opacity:0.5;',
        id: 'removeButton'), '#' %>
    </div>
  </div>
  <%= link_to icon('fas', 'plus',
        class: 'fa-lg text-success',
        style: 'font-size:20px;opacity:0.5;',
        id: 'addButton') + ' ADD ANOTHER INGREDIENT', '#' %>
  <br><br>
  <div class="submit d-flex justify-content-center">
    <%= f.submit %>
  </div>
<% end %>
